@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    color: #313131;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #313131;
}

li {
    list-style-type: none;
}

header {
    background-color: #FFF8EE;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}

.tools {
    margin-right: 20px;
}

.tools ul {
    padding: 6px 0;
}

.tools ul li {
    display: inline;
    margin-right: 43px;
    font-size: 14px;
    color: #322F2E;
    font-weight: 700;
}

.tools ul li a {
    color: #322F2E;
}

.tools ul li:nth-child(7) a {
    color: #fff;
    border: 0 solid;
    border-radius: 50px;
    background-color: #C47344;
    padding: 17px 30px;
    text-align: center;
}

.about-Us {
    background-color: #FFF8EE;
    padding-top: 120px;
}

.rely-on-us {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.new-art{
    font-weight: 700;
}

.new {
    display: inline-block;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    padding: 6px 12px;
    border: 0 solid;
    border-radius: 20px;
    background-color: #F9A38F;
    width: 30px;
}

.art {
    display: inline-block;
    color: #4D4D4D;
    font-size: 13px;
    padding: 6px 33px;
    border: 0 solid;
    border-radius: 20px;
    background-color: #F9EDE2;
    position: relative;
    left: -13px;
}

.rely {
    color: #322F2E;
    font-weight: 700;
    font-size: 110px;
}

.about-costomers {
    padding: 20px 17%;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 33px;
}

.more {
    padding: 15px 34px;
    color: #fff;
    font-weight: 700;
    border: 0 solid;
    border-radius: 50px;
    background-color: #C47344;
}

.partners {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.partners img {
    margin-top: 70px;
}

.what-is {
    margin-top: 50px;
    padding-bottom: 500px;
    display: flex;
    justify-content: center;
}

.what-is p {
    font-weight: 700;
    color: #C47344;
    margin-right: 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 100%;
    height: auto;
}

.background-shadow-upper {
    background-color: #FDF4EC;
    height: 464px;
    z-index: 1;
}

.section-cards {
    background-image: linear-gradient(#fdf4ec, #fbf5ee 70%, #fff);
    position: relative;
    z-index: 0;
    top: -150px;
}

.cards {
    z-index: 5;
}

.two-cards {
    display: flex;
    justify-content: center;
}

.card {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    background-color: #FFFAF2;
    box-shadow: 0 0 10px #DDDDDD;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    padding: 30px 5%;
    width: 300px;
}

.card:first-child {
    margin-right: 30px;
}

.card img {
    margin-top: 30px;
    width: 225;
    height: 220px;
}

.card h3 {
    margin-top: 20px;
    color: #322F2E;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;
}

.card p {
    margin: 30px 0;
    color: #322F2E;
    line-height: 28px;
}

.card a {
    width: 150px;
    margin: 0 auto;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    padding: 13px 35px;
    border: 2px solid #E1DED9;
    border-radius: 50px;
}

.section-cards .new {
    display: block;
    margin-left: 47.5%;
    margin-top: 170px;
    text-align: center;
}

.quiz {
    display: flex;
    margin-top: 30px;
}

.cards-quiz {
    display: flex;
    justify-content: end;
    margin-right: 100px;
    width: 47.5%;
    color: #fff;
}

.shadow-card {
    width: 200px;
    padding: 20px;
    border: 1px solid #32686F;
    border-radius: 10px;
    background-color: #32686F;
    box-shadow: 0 0 10px #32686F;
    z-index: 0;
    margin-right: -230px;
    margin-top: 9px;
    margin-bottom: -9px;
}

.card-quiz {
    width: 200px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px #32686F;
    background-color: #32686F;
    z-index: 1;
}

.card-quiz p {
    font-weight: 400;
    font-size: 14px;
}

.card-quiz img {
    margin-top: 20px;
}

.card-quiz h4 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 20px;
}

.card-quiz hr {
    border: 1px solid #fff;
    opacity: .18;
    margin-top: 30px;
}

.bottom-card {
    display: flex;
    justify-content: space-between;
}

.bottom-card p {
    margin-top: 20px;
    color: #fff;
}

.info-quiz {
    width: 52.5%;
    color: #322F2E;
}

.info-quiz h2 {
    font-weight: 700;
    font-size: 53px;
    width: 60%;
    line-height: 62px;
}

.info-quiz p {
    font-size: 21px;
    width: 60%;
    margin-top: 30px;
    line-height: 33px;
}

.take-quiz {
    text-align: center;
    width: 120px;
    display: block;
    margin-left: 50%;
    color: #000;
    font-weight: 700;
    font-size: 15px;
    margin-top: 1%;
    border: 2px solid #E1DED9;
    border-radius: 50px;
    padding: 13px 25px;
}

.feedback {
    display: flex;
    margin: 0 120px;
    margin-top: 50px;
    border: 0 solid #FAF7F3;
    border-radius: 10px;
    background-color: #FAF7F3;
    padding: 42px 60px;
}

.text-feedback {
    width: 45%;
    margin-left: 50px;
    color: #1A1918;
}

.text-feedback h2 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 60px;
}

.text-feedback p {
    font-size: 20px;
    line-height: 32px;
    margin-top: 40px;
}

.form {
    display: flex;
    margin-top: 35px;
}

.form input {
    padding: 13px 30px;
    width: 200px;
    color: rgba(0, 0, 0, .45);
    font-size: 20px;
    background-color: #fff;
    border: 0 solid;
    border-radius: 10px;
    outline: none;
}

.form button {
    width: 29px;
    height: 29px;
    border: 0;
    margin-top: 10px;
    margin-left: -37px;
}

footer {
    display: flex;
    margin: 0 10%;
    margin-top: 140px;
    padding: 0 10px 0 10px;
}

.about-arcarta {
    width: 30%;
    padding-right: 10%;
}

.about-arcarta p:nth-child(2) {
    padding-top: 20px;
    color: #313131;
    font-weight: 400;
    font-size: 13px;
}

.about-arcarta p:nth-child(3) {
    color: #313131;
    font-size: 13px;
    margin-top: 40px;
}

.about-arcarta p:nth-child(5) {
    color: #313131;
    font-size: 12px;
    margin-top: 30px;
}

.about-arcarta p:nth-child(7) {
    color: #D3D3D3;
    font-size: 13px;
    margin-top: 30px;
}

.about-arcarta p:nth-child(8) {
    color: #D3D3D3;
    font-size: 13px;
    margin-top: 30px;
}

.about-arcarta img {
    margin-top: 15px;
}

.links {
    margin-left: 80px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.links ul {
    line-height: 25px;
}

.links ul li a {
    color: #313131;
    font-weight: 400;
    font-size: 12px;
}

.links ul li:first-child {
    font-weight: 500;
    color: #333333;
    margin-bottom: 10px;
}

.links ul li .new {
    text-align: center;
    padding: 0 12px;
    font-size: 11px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin: 37px 120px 80px 120px;
}

.social-networks {
    display: flex;
    align-items: flex-end;
}

.social-networks p {
    color: #D3D3D3;
    font-weight: 400;
    font-size: 13px;
    margin-right: 17px;
}

.social-networks img {
    margin-right: 10px;
}

.social-network {
    display: flex;
    align-items: center;
}
